/* Custom Chat Message Styles */

/* User message */
.user-message {
  background-color: #e0f7fa;
  color: #006064;
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
  margin: 10px auto;
  align-self: flex-end; /* Alineación a la derecha */
  text-align: right; /* Alinea el texto a la derecha */
}

/* ChatGPT message */
.chatgpt-message {
  background-color: #f1f8e9;
  color: #33691e;
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
  margin: 10px auto;
  align-self: flex-start; /* Alineación a la izquierda */
  text-align: left; /* Alinea el texto a la izquierda */
}
